{% extends "layout.twig" %}

{# Assets #}
{% block assets %}
    {{ assets({files: ['Home/style.css']}) }}
{% endblock %}

{# Content #}
{% block content %}
    <h1>{{ __('Wave Trophy Application') }}</h1>
    <p>{{ __('This is the application for the wave trophy.') }}</p>

    <a href="{{ path_for('get.login', { 'language':language }) }}">
        <button class="btn btn-success btn-lg">{{ __('Login') }}</button>
    </a>
{% endblock %}